.App {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(34, 34, 34);
}

a:link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 900;
}

h2 {
  text-decoration: underline;
  text-decoration-color: rgb(60, 166, 216);
}

.bluebar {
  height: 70px;
  width: 100%;
  background: rgb(60, 166, 216);
  padding-top: 20px;
  padding-left: 60px;
}


.wrapper {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.card-box {
  background-color: rgb(235, 235, 235);
  height: 400px;
  width: 700px;
  margin: 80px 0px;
  padding: 25px
  
}

.counter {
  font-size: 25px;
  font-weight: 900;
  text-align: right;
}